@charset utf-8
body{margin:0}
.card{
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	border-style:solid;
	border-width:2px;
	border-color:#00a0e9;
}
.title{
	background
