body{
	background:#f6f6f6;
	margin:8px
}
.card{
	border:solid #777777 1px;
	border-radius:3px;
	box-shadow:0 0 5px #333333;
	background:#fff;
	margin:8px 0;
	padding:2px;
}
#broadcast{
	background:#00a0e9;
	color:#fff;
}
#user{
}
h2{
	font-size:16px;
	/*font-weight:normal;*/
	margin:0;
	border-bottom:solid #777 2px;
}
.user-input{
	width:100%;
}
#login-box{
	padding-left:2px;
	padding-right:4px;
}